@import "tailwindcss";

body{
    background-image: url(../img/Decore.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px;
    padding-left: 10%;
    padding-right: 10%;
    color: #5E6282;
    /* background-color: antiquewhite; */
}

.btn{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    height: 3em;

}

.caregory-bg-img {
     background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: top right;
    /* background-size: 600px; */
    padding-left: 10%;
    padding-right: 10%;

}